<!DOCTYPE html>
<html>
	<head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Panel - CS Club Online Judge</title>	
	</head>
	
	<body>		
		
		<div id="wrapper">
		
			<main>
				<div id="content">
					<div class="innertube">
						<br/>
						
						<h1> Contests </h1>

						<br />

						<table>
						<tr>
							<th>Contest</th>
							<th>Start Time</th>
							<th>End Time</th>
						</tr>
						<%= Contest.find_each do |contest| %>
							<tr>
							<td> <%= link_to contest.title, "/contest/#{contest.id}" %> </td> 
							<td> <%= contest.begin_time.strftime("%Y-%m-%d %k:%M:%S %Z") %> </td>
							<td> <%= contest.end_time.strftime("%Y-%m-%d %k:%M:%S %Z") %> </td>
							</tr>
						<% end %>
						</table>
					</div>
				</div>
			</main>
			
			<nav id="nav">
				<div class="innertube">
					<h3>Left heading</h3>
					<ul>
						<li><a href="#">Link 1</a></li>
						<li><a href="#">Link 2</a></li>
						<li><a href="#">Link 3</a></li>
						<li><a href="#">Link 4</a></li>
						<li><a href="#">Link 5</a></li>
					</ul>
					<h3>Left heading</h3>
					<ul>
						<li><a href="#">Link 1</a></li>
						<li><a href="#">Link 2</a></li>
						<li><a href="#">Link 3</a></li>
						<li><a href="#">Link 4</a></li>
						<li><a href="#">Link 5</a></li>
					</ul>
					<h3>Left heading</h3>
					<ul>
						<li><a href="#">Link 1</a></li>
						<li><a href="#">Link 2</a></li>
						<li><a href="#">Link 3</a></li>
						<li><a href="#">Link 4</a></li>
						<li><a href="#">Link 5</a></li>
					</ul>
				</div>
			</nav>
		
		</div>
	
	</body>
</html>
