<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Admin Page - CS Club Online Judge</title>	
	</head>
	
	<body>		
		
		<div id="wrapper">
		
			<main>
				<div id="content">
					<div class="innertube">
						
					</div>
				</div>
			</main>
			
			<nav id="nav">
				<div class="innertube">
					
				</div>
			</nav>
		
		</div>
	
	</body>
</html>
