<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>About - CS Club Online Judge</title>	
	</head>
	
	<body>		
			<main>
				<div id="content">
					<div class="innertube">
						<h1>About</h1>
						Welcome to Earl of March Secondary School's Computer Science Club Online Judge. 
						</br>
						This project is made and maintained by Peter Zhu and written using Ruby on Rails.
						This project is open sourced under the GNU GPL V3 license. 
						You can find this project in its <a href = "https://github.com/peterzhu2118/onlinejudge">GitHub</a> page.
						Please submit bug reports to the GitHub page or email me. You can also fork the project and make it better.
						</br>
						For questions or inquiries about the project please email me at peter@peterzhu.ca.
						
					</div>
				</div>
			</main>
	</body>
</html>
