<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>FAQ - CS Club Online Judge</title>	
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	</head>
	
	<body>			
			<main>
				<div id="content">
					<div class="innertube">
						<h1>Frequently Asked Questions</h1>
						
						<div class="panel-group">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" href="#collapse1">How does the contest work?</a>
									</h4>
								</div>
								<div id="collapse1" class="panel-collapse collapse">
									<div class="panel-body">
						The contest is a 3 hour long contest written in Earl of March.
						The contest will consist of 5 problems of increasing difficulty.
						Top ranking contestants will be considered to represent Earl of March in the <a href="http://ecoocs.org/">ECOO</a> contest.
						This contest is also good practice for <a href="http://cemc.uwaterloo.ca/contests/computing.html">uWaterloo's CCC (Canadian Computing Contest)</a> written in February.
									</div>
								</div>
							</div>
						</div>
						
						<div class="panel-group">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" href="#collapse2">What is the ECOO contest?</a>
									</h4>
								</div>
								<div id="collapse2" class="panel-collapse collapse">
									<div class="panel-body">
						The <a href="http://ecoocs.org/">ECOO</a> (Educational Computing Organization of Ontario) is a Ontario wide programming contest consisting of three stages.
						Each school is allowed to send two teams of 4 plus an all girls team.
						<br>
						The first stage is the board wide contest. It will be hosted at Lisgar Collegiate Institute in the end of March.
						Like the CCC, it is a 3 hour long contest consisting of 5 problems.
						Top 5 teams and a girls team at the board wide will progress to second stage.
						<br>
						The second stage is the regional contest. It will be hosted at Queens University in the end of April. 
						The top 25% of the regional contest is allowed to participate in stage 3.
						<br>
						The third stage is the final contest. It will be hosed in York University in Toronto in the middle of May.
									</div>
								</div>
							</div>
						</div>
						
						<div class="panel-group">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
									<a data-toggle="collapse" href="#collapse3">What is the CCC contest?</a>
									</h4>
								</div>
								<div id="collapse3" class="panel-collapse collapse">
									<div class="panel-body">
						The CCC (Canadian Computing Contest) is a programming contest hosted by the University of Waterloo. This year, it is written at school in 22 Feb 2017.
						There are two contests, CCC Junior and CCC Senior. CCC Junior is easier and is more suited for beginners and CCC Senior is more suited for intermediate and advanced programmers.
						<br>
						To be considered for the CCO (Canadian Computing Olympiad), you must write the CCC Senior and achieve in the top 30 contestants. The CCO is written in uWaterloo.
						<br>
						The top 3 CCO contestants are selected to participate in the IOI (International Olympiad of Informatics), which is a international programming contest.
									</div>
								</div>
							</div>
						</div>
						
						<div class="panel-group">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" href="#collapse4">What languages are supported by the judge?</a>
									</h4>
								</div>
								<div id="collapse4" class="panel-collapse collapse">
									<div class="panel-body">
						The Online Judge currently supports C++, Java and Python. Current versions are:
						<ul style="list-style-type">
						<li>C++ - GCC (G++) 4.8.4</li>
						<li>Java - OpenJDK 1.8.0</li>
						<li>Python 2 - 2.7.6</li>
						<li>Python 3 - 3.4.3</li>
						</ul>
									</div>
								</div>
							</div>
						</div>
					
						<div class="panel-group">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" href="#collapse6">What is the runtime/memory limit?</a>
									</h4>
								</div>
								<div id="collapse6" class="panel-collapse collapse">
									<div class="panel-body">
						The runtime limit for every problem is 3 seconds and the memory limit is 128MB.
									</div>
								</div>
							</div>
						</div>
						
						<div class="panel-group">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" href="#collapse7">How do I sign up for the contest?</a>
									</h4>
								</div>
								<div id="collapse7" class="panel-collapse collapse">
									<div class="panel-body">
						Sign up <a href="/register">here</a>. Username and password will be emailed to you as soon as your account is approved.
									</div>
								</div>
							</div>
						</div>
						
						<div class="panel-group">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" href="#collapse8">When/Where is the contest? How much does it cost?</a>
									</h4>
								</div>
								<div id="collapse8" class="panel-collapse collapse">
									<div class="panel-body">
						The contest will be written on February 7, 2017 3:00PM-6:00PM in room 258 (computer science room). There will be no charge to participate.
									</div>
								</div>
							</div>
						</div>
						
						<div class="panel-group">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" href="#collapse9">Terms and Agreements of using the Online Judge.</a>
									</h4>
								</div>
								<div id="collapse9" class="panel-collapse collapse">
									<div class="panel-body">
						By using the online judge, I agree not to attempt to attack and/or exploit the online judge in any way.
						If bugs/security holes are found, I will contact the author of the online judge by either submitting a bug report in the <a href="https://github.com/peterzhu2118/onlinejudge">GitHub</a> page or emailing Peter Zhu (peter@peterzhu.ca).
						I also agree that if attacking/hacking is suspected, my account will be terminated and I will be disqualified from the contest.
									</div>
								</div>
							</div>
						</div>
						
						<div class="panel-group">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" href="#collapse10">I found a bug/security hole. What should I do?</a>
									</h4>
								</div>
								<div id="collapse10" class="panel-collapse collapse">
									<div class="panel-body">
						Do NOT attempt to exploit that bug, but please do submit an issue in the <a href="https://github.com/peterzhu2118/onlinejudge/issues">GitHub</a> page or email Peter Zhu at peter@peterzhu.ca
									</div>
								</div>
							</div>
						</div>
						
						<div class="panel-group">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" href="#collapse11">Who runs the Online Judge?</a>
									</h4>
								</div>
								<div id="collapse11" class="panel-collapse collapse">
									<div class="panel-body">
						Peter Zhu runs the online judge. He is the president of the computer science club.
									</div>
								</div>
							</div>
						</div>

						<div class="panel-group">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" href="#collapse12">How can I run this system myself?</a>
									</h4>
								</div>
								<div id="collapse12" class="panel-collapse collapse">
									<div class="panel-body">
						The project is open sourced under the GNU GPL V3 open source license. You can find the details about this project in the readme on the <a href="https://github.com/peterzhu2118/onlinejudge">GitHub page</a>.
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</main>
	</body>
</html>
