<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Welcome - CS Club Online Judge</title>	
	</head>
	
	<body>				
			<main>
				<div id="content">
					<div class="innertube">
						<h1>Please Select One of the Following:</h1>
						<form action="/login">
							<input type="submit" value="User login    " />
						</form>
						<br>
						<form action="/admin">
							<input type="submit" value="Admin login" />
						</form>
						<br>

						
					</div>
				</div>
			</main>
		
	</body>
</html>
