<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Welcome - CS Club Online Judge</title>	
	</head>
	
	<body>				
			<main>
				<div id="content">
					<div class="innertube">
						<b><h3>Please read the FAQ if you are using this for the first time.</h3></b>
						<font color="red">Any unauthorized access, attempts to circumvent the security controls, or abuse of the system will result in DISQUALIFICATION from the contest.</font>
						
						<br>
						<br>
						
						<form action="/login">
							<input type="submit" value="Continue" />
						</form>
						
						<br>
						
						<hr>
						
						<br>
						
						<h2>Quick Start Guide</h2>
						
						<ul>
							<li>All input and output must be from <b>standard input and standard output.</b> Output must match exactly, do not add additional spaces, new lines, etc. Do not add user prompts.</li>
							<li>Current versions for languages:</li>
							<ul style="list-style-type:circle">
								<li>C++ - GCC (G++) 4.8.4</li>
								<li>Java - Oracle JDK 1.8.0</li>
								<li>Python 2 - 2.7.6</li>
								<li>Python 3 - 3.4.3</li>
							</ul>
							<li>Java must be written in a class called Main and in a file called Main.java and must not be placed in a package. The class definition should be:</li>
							<pre>public class Main</pre>
							<li>Each problem will be given 3 seconds of runtime.</li>
							
							<br>
							
							<h3>Additional "Live" contest rules</h3>
							
							<li>Students may access the internet during the contest. However, students should use the internet only for:</li>
							<ul style="list-style-type:circle">
								<li>accessing the online judge</li>
								<li>accessing online manuals (not discussion boards)</li>
							</ul>
							
							<li>Contestants may not use:</li>
							<ul style="list-style-type:circle">
								<li>email</li>
								<li>messaging programs</li>
								<li>google search</li>
								<li>any forums</li>
							</ul>
							
							<li>For example, accessing http://www.cplusplus.com/reference/ or http://docs.oracle.com/javase/8/docs/api/ would be allowed, but not any discussion board, such as <code>stackoverflow.com</code></li>
						</ul>
						<br>
					</div>
				</div>
			</main>
		
	</body>
</html>
