<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Welcome - CS Club Online Judge</title>	
	</head>
	
	<body>				
			<main>
				<div id="content">
					<div class="innertube">
						<h5>Please read the FAQ and/or Quickstart guide if you are using this for the first time.</h5>
						<br>
						<br>
						<font color="red">Any unauthorized access, attempts to circumvent the security controls, or abuse of the system will result in DISQUALIFICATION from the contest.</font>
						<br>
						
						<form action="/login">
							<input type="submit" value="I agree" />
						</form>
						<br>
					</div>
				</div>
			</main>
		
	</body>
</html>
