<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Quick Start - CS Club Online Judge</title>	
	</head>
	
	<body>		
			<main>
				<div id="content">
					<div class="innertube">
						<h1>Quick Start Guide</h1>
						
						<ul>
							<li>All input and output must be from <b>standard input and standard output.</b> Output must match exactly, do not add additional spaces, new lines, etc. Do not add user prompts.</li>
							<li>Java programs must be written in a file called Main.java and NOT placed in a package. The class must be  <pre>public class Main</pre>. Compilation will fail otherwise </li>
						</ul>
						
					</div>
				</div>
			</main>
	
	</body>
</html>
